body {
   font-family: 'Dancing Script', cursive;
   font-size: 30px;
}
.roses {
    width: 200px;
    margin-top: 20px;
}
.message {
    border: 1px solid lightpink;
    width: 300px;
    margin-top: 30px;
}
.sign {
    border: 1px solid lightpink;
    width: 300px;
    margin-top: 20px;
}
.container {
    margin: 0 auto;
    text-align: center;
    width: 500px;
    margin-top: 40px;
    
}